<footer>
<div class="footerinfo">
  <div class="mapsiteLeft">
    <div class="contact">
      E-mail: Clodoaldo.brtp4@gmail.com<br>
      Endereço:Rua Manoel Silvano de medeiros<br>
      CEP: 59310-000
    </div>
  </div>

  <div class="center">
    <p>Developed by @Clodoaldo Neto</p>
  </div>
  <div class="mapsiteRight">
    <ul>
      Mapa do Portfólio
      <li>
        <a routerLink=""> Home </a>
      </li>

      <li>
        <a routerLink="/blog"> Blog </a>
      </li>
      <li >
        <a routerLink="/profile"> Profile </a>
      </li>

      <li>
        <a routerLink="/projects"> Projects </a>
      </li>

      <li >
        <a routerLink="/services"> Serviços </a>
      </li>
    </ul>
  </div>
</div>
</footer>
