<footer>
<div class="footerinfo">
  <div class="mapsiteLeft">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure dolorem id veniam sint, ex odit perferendis eligendi itaque nesciunt enim vitae repudiandae mollitia voluptatem aliquid soluta hic earum fugit ea.
  </div>

  <div class="center">
    <p>developed by @clodoaldo Neto</p>
  </div>

  <div class="mapsiteRight">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore eligendi ea earum cum odio error voluptates at. Debitis vero expedita nam eaque hic, nostrum sed non, quod quae velit voluptas?
  </div>
</div>
</footer>
