<section class="primary">
  <div class="projetscards">
    <app-card style="margin-top: 10px;"></app-card>
    <app-card style="margin-top: 10px;"></app-card>
    <app-card style="margin-top: 10px;"></app-card>
    <app-card style="margin-top: 10px;"></app-card>
    <app-card style="margin-top: 10px;"></app-card>
    <app-card style="margin-top: 10px;"></app-card>
    <app-card style="margin-top: 10px;"></app-card>
    <app-card style="margin-top: 10px;"></app-card>
    <app-card style="margin-top: 10px;"></app-card>
    <app-card style="margin-top: 10px;"></app-card>
    <app-card style="margin-top: 10px;"></app-card>
    <app-card style="margin-top: 10px;"></app-card>
    <app-card style="margin-top: 10px;"></app-card>
    <app-card style="margin-top: 10px;"></app-card>
    <app-card style="margin-top: 10px;"></app-card>
    <app-card style="margin-top: 10px;"></app-card>
    <app-card style="margin-top: 10px;"></app-card>
    <app-card style="margin-top: 10px;"></app-card>
    <app-card style="margin-top: 10px;"></app-card>
    <app-card style="margin-top: 10px;"></app-card>
    <app-card style="margin-top: 10px;"></app-card>
    <app-card style="margin-top: 10px;"></app-card>
    <app-card style="margin-top: 10px;"></app-card>
    <app-card style="margin-top: 10px;"></app-card>
    <app-card style="margin-top: 10px;"></app-card>
  </div>

</section>
